@model BloqueMateriaPrimaModel
@inject IStringLocalizer Localizer

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-MP">
            <h4 class="mb-0">@Localizer["RawMat_Header"]</h4>
        </button>
    </h2>
    <div id="collapse-MP" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <table class="tabla-trazabilidad">
                <thead>
                    <tr class="bg-header">
                        <th rowspan="2">@Localizer["RawMat_Description"]</th>
                        <th colspan="2">@Localizer["RawMat_Supplier"]</th>
                        <th colspan="2">@Localizer["RawMat_ExternalLot"]</th>
                        <th colspan="2">@Localizer["RawMat_InternalLot"]</th>
                        <th colspan="2">@Localizer["RawMat_ReceptionDate"]</th>
                        <th colspan="2">@Localizer["RawMat_Quantity"]</th>
                        <th colspan="2">@Localizer["RawMat_Supervision"]</th>
                    </tr>
                    <tr class="bg-subheader">
                        <th colspan="2">@Localizer["RawMat_SupplierName"]</th>
                        <th colspan="2">@Localizer["RawMat_SupplierCode"]</th>
                        <th colspan="2">@Localizer["RawMat_InternalCode"]</th>
                        <th colspan="2">@Localizer["RawMat_DateFormat"]</th>
                        <th colspan="2">@Localizer["RawMat_Unit"]</th>
                        <th>@Localizer["RawMat_QC"]</th>
                        <th>@Localizer["RawMat_Warehouse"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Registros)
                    {
                        <tr>
                            <td class="bg-label">@item.Descripcion<span title="@Localizer["RawMat_AutoData"]">🟢</span></td>
                            <td colspan="2">@item.Proveedor</td>
                            <td colspan="2">@item.LoteExterno</td>
                            <td colspan="2">@item.LoteInterno<span title="@Localizer["RawMat_AutoData"]">🟢</span></td>
                            <td colspan="2">@item.FechaRecepcion</td>
                            <td colspan="2">@item.Cantidad</td>
                            <td>@Model.SupervisorCalidad</td>
                            <td>@Model.SupervisorAlmacen</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
