@model List<PruebaLiberacionRow>
@inject IStringLocalizer Localizer

<table class="tabla-trazabilidad">
    <thead>
        <tr class="bg-header">
            <td colspan="4">@Localizer["ReleaseTests_Header"]</td>
        </tr>
        <tr class="bg-header">
            <td>&nbsp;</td>
            <td>@Localizer["ReleaseTests_StartRun"]</td>
            <td>@Localizer["ReleaseTests_MidRun"]</td>
            <td>@Localizer["ReleaseTests_EndRun"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ControlOperationName<span title="@Localizer["Common_AutoData"]">🟢</span></td>
                <td>@item.InicioCorrida<span title="@Localizer["Common_AutoData"]">🟢</span></td>
                <td>@item.MedioCorrida<span title="@Localizer["Common_AutoData"]">🟢</span></td>
                <td>@item.FinCorrida<span title="@Localizer["Common_AutoData"]">🟢</span></td>
            </tr>
        }
    </tbody>
</table>

