@model BloqueEntregaInformacionModel
@inject IStringLocalizer Localizer

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-entrega">
            <h4 class="mb-0">@Localizer["InfoDelivery_Header"]</h4>
        </button>
    </h2>
    <div id="collapse-entrega" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <table class="tabla-trazabilidad">
                <thead>
                    <tr class="bg-header">
                        <th>@Localizer["InfoDelivery_PersonName"]</th>
                        <th>@Localizer["InfoDelivery_Hour"]</th>
                        <th>@Localizer["InfoDelivery_Position"]</th>
                        <th>@Localizer["InfoDelivery_Area"]</th>
                        <th>@Localizer["InfoDelivery_Activity"]</th>
                        <th>@Localizer["InfoDelivery_DeliveryMode"]</th>
                        <th>@Localizer["InfoDelivery_Observations"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Registros)
                    {
                        <tr>
                            <td>@item.NombrePersona</td>
                            <td>@item.Hora</td>
                            <td>@item.Puesto</td>
                            <td>@item.Area</td>
                            <td>@item.Actividad</td>
                            <td>@item.MedioEntrega</td>
                            <td>@item.Observaciones</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
