@model BloqueProductoTerminadoModel
@inject IStringLocalizer Localizer

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sku">
            <h4 class="mb-0">@Localizer["FG_Header"]</h4>
        </button>
    </h2>
    <div id="collapse-sku" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <table class="tabla-trazabilidad">
                <tr class="bg-header">
                    <th colspan="5">@Localizer["FG_TableHeader"]</th>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_ProductDescription"]</td>
                    <td colspan="2">
                        @Model.DescripcionProducto
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                    <td class="bg-label">@Localizer["FG_ProductCode"]</td>
                    <td colspan="2">
                        @Model.CodigoProducto
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_TurnTestLead"]</td>
                    <td colspan="2">@Model.EncargadoPruebas</td>
                    <td class="bg-label">@Localizer["FG_SyrupsSupervisor"]</td>
                    <td colspan="2">@Model.SupervisorJarabes</td>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_Filler"]</td>
                    <td colspan="2">
                        @Model.NumeroLinea
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                    <td class="bg-label">@Localizer["FG_EmptiesAtSyrupFinish"]</td>
                    <td colspan="2">@Model.VacioJarabeTerminado</td>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_QuantityProduced"]</td>
                    <td colspan="2">
                        @Model.CantidadElaborada
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                    <td class="bg-label">@Localizer["FG_TurnQualitySupervisor"]</td>
                    <td colspan="2">@Model.SupervisorCalidad</td>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_ProductionDate"]</td>
                    <td colspan="2">
                        @Model.FechaProduccion
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                    <td class="bg-label">@Localizer["FG_TurnProductionSupervisor"]</td>
                    <td colspan="2">@Model.SupervisorProduccion</td>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_ProdStart"]</td>
                    <td colspan="2">
                        @Model.InicioProduccion
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                    <td class="bg-label">@Localizer["FG_ProdEnd"]</td>
                    <td colspan="2">
                        @Model.FinProduccion
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-label">@Localizer["FG_LineNumber"]</td>
                    <td colspan="2">
                        @Model.NumeroLinea
                        <span title="@Localizer["Common_AutoData"]">🟢</span>
                    </td>
                    <td class="bg-label">@Localizer["FG_TurnMaintenanceSupervisor"]</td>
                    <td colspan="2">@Model.SupervisorMantenimiento</td>
                </tr>
            </table>
        </div>
    </div>
</div>
